<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tzt.customize.base" >

    <application>
        <activity android:name=".CustomBaseActivity"
            android:label="自定义View基础"/>
        <activity android:name=".ClassicProcessActivity"
            android:label="分类与流程"/>
    </application>
</manifest>
