<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tzt.customize.paint" >

    <application>

        <activity android:name=".ui.ColorMatrixColorFilterActivity"
            android:label="颜色过滤矩阵"/>
        <activity android:name=".ui.EffectActivity"
            android:label="效果"/>
        <activity android:name=".ui.PaintColorActivity"
            android:label="颜色"/>
        <activity android:name=".ui.TextActivity"
            android:label="文字"/>
    </application>
</manifest>
